## Build files
*.elf
*.o
*.a
*.bin
*.dfs
build/
build_gcc/
tools/chksum64
tools/dumpdfs/dumpdfs
tools/mkdfs/mkdfs
tools/mksprite/convtool
tools/mksprite/mksprite
tools/n64tool

## Cygwin/MinGW junk
*.exe

## OSX junk
.DS_Store
.Trashes
._*

## Temporary files
*.tmp
*.swp
*~
